@model CareerLaunch.Models.BlogPost

@{
    ViewData["Title"] = "Details";
}


<section class="site-section" id="next-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-content">

                <h3 class="mb-4">@Model.Title</h3>

                <!-- Display truncated content if too long -->
                <p class="lead">
                    @Model.Content>
                </p>


                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <p>
                        <img src="@Model.ImageUrl" alt="Image" class="detail-img rounded">
                    </p>

                }

                <!-- Full content -->
                <p>@Model.Content</p>

                <h4 class="mt-5 mb-4">@Model.SectionTitle</h4>
                <p>@Model.SectionContent</p>

            </div>

            <!-- Sidebar -->
            <div class="col-lg-4 sidebar pl-lg-5">
                <div class="sidebar-box">

                    @if (!string.IsNullOrEmpty(Model.AuthorImageUrl))
                    {
                        <img src="@Url.Content(Model.AuthorImageUrl)" alt="Author Image" class="img-fluid mb-4 w-50 rounded-circle">
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/person_1.jpg")" alt="Default Author Image" class="img-fluid mb-4 w-50 rounded-circle">
                    }

                    <h3>About The Author</h3>
                    <p>@Model.AuthorBio</p>
                </div>
            </div>
        </div>
    </div>
</section>
